/**
* Мои стили
*/
/* Ширина колонки "Отправитель" */
.messagelist tr > .from {width: 350px;}
/* Ширина колонки "Дата" */
.messagelist tr > .date {width: 130px;}
/* Отключим возможность разворачивать список папок. */
/*.folderlist li.mailbox div.treetoggle {display: none;}*/

/* Скроем плюсы для разворачивания списка папок. */
ul.treelist li div.treetoggle {background: none;}

/* Подсветка строки при наведении */
/*#messagelist tr:hover, .subject:hover {*/
	/*background: #f3bd48;*/ /* Цвет фона при наведении */
	/*color: #ff0000;*/ /* Цвет текста при наведении */
    /*background-color: #dddddd;*/ /* Цвет фона при наведении */
	/*font-size: 110%;*/ /* Увеличим размер шрифта на 10% */
/*}*/
/*.messagelist tr:hover, .subject:hover, .fromto:hover{
    background-color: #dddddd;
    color: #ff0000;
}*/



/* Чередуем по цвету строки таблицы списка писем.*/
/* Селектор :nth-child ищет дочерние элементы заданного элемента,
может использовать ключевые слова или формулу. Для чередования
цвета строк используются значения:
odd — для нечётных строк;
even — для чётных строк. */
/*table tr:nth-child(odd) {
	/*background: #fff;*/ /* Нечётные строки — белого цвета 
}*/
/*table tr:nth-child(even) {
	/*background: #f2f2f2;*/ /* Чётные строки — светло-серого цвета 
}*/
/* нечетная строка таблицы класса stripy */
/*table tr:nth-child(2n+1){
	/*background: #fff;*/ /* Нечётные строки — белого цвета 
}*/

/* четная строка таблицы класса stripy */
/*table tr:nth-child(2n){
	/*background: #f2f2f2;*/ /* Чётные строки — светло-серого цвета 
}*/
